* {

    outline: 1px solid red !important;

}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 30px;
}

.title {
    font-weight: bold;
    width: 235px;
    margin-top: 14px;
    padding: 5px;
    color: navy;
}

a {
    text-decoration: none;
}

.nav-list {
    display: flex;
    list-style: none;
    font-weight: bold;
    margin-top: 34px;
}

.nav-list a {
    color: navy;
}

.nav-list li {
    margin-left: 36px;
}

.main {
    width: 1500px;
    position: relative;
}

.box {
    background: navy;
    width: 900px;
    height: 200px;
    margin-bottom: 10px;
}

.demo-img {
    background-image: url(../img/firstview.jpeg);
    width: 400px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    margin-left: auto;
    margin-bottom: 300px;
}

p {
    font-size: 4rem;
    margin-top: 300px;
}

body {
    width: 1500px;
}